%main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4{role: 'main'}
  .jumbotron.bg-light.border
    %h1.display-4
      React Components
    %code
      rails g react:component SomeThing greeting:string
    %p.lead
      generates a SomeThing component in app/javascript/components/
