%main{role: 'main'}
  .jumbotron.bg-light.border
    %h1
      React Components
    %code
      rails g react:component SomeThing greeting:string
    %p
      generates a SomeThing component in app/javascript/components/
